body
{
    background-color: #2c917f;
    color: #b4dd72f5;
    font-family: sans-serif;
}
.input-container
{
    margin: 12px;
}
#container
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#create-product-container
{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #1d7464;
    border-radius: 25px;
    max-width: 200px;
    margin:auto;
    padding: 50px;
    background-color: #ffef96;
    color: #ff8400;
}
