.page
{
    display: flex;
    flex-direction: column;
    margin: 30px;
    height: 100%;
}
body
{
    background-color: #2c917f;
    color: #b4dd72f5;
    font-family: sans-serif;
}
#nav-container
{
    border-style: solid;
    border-radius: 25px;
    border-color: #383838;
    background-color: #383838;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 95%;
    padding: 2%;
}
#main-content
{
    margin:auto;
    padding: 4%;
}
#store-header
{
    margin:auto;
}
#products
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#product-container
{
    background-color: #d0aa6f;
    padding: 5%;
    margin: 1%;
    margin-bottom: 3%;
}
