body
{
    background-color: #2c917f;
    color: #2b7913f5;
    font-family: sans-serif;
}
#nav-container
{
    background-color: #383838;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 95%;
    padding: 2%;
}
#main-content
{
    margin:auto;
    padding: 4%;
}
#product-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-color: #1d7464;
    border-radius: 50px;
    background-color: #d0aa6f;
    margin: 0 auto;
    padding: 10px;
    width: 500px;
    height: 870px;
    text-align: center;
}
#buyButtonContainer
{
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #33C625;
    background-color: #4DDE3F;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}
#deleteProductContainer
{
    display: inline-block;
    margin: 0 auto;
    border-style: solid;
    border-color: #ab1b1b;
    background-color: #e15252;
    color: #ab1b1b;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}